/* ==================== ##General Styles ==================== */

body {
	font-family: $content_font_family;
	font-size: $content_font_size;
	line-height: $content_line_height;
	font-weight: $content_font_weight;
	color: $content_color;
}

/* ==================== ##End General Styles ==================== */

/* ==================== ##Content Features ==================== */

.content-font,
input:not([type=checkbox]):not([type=submit]),
select, textarea,
label,
blockquote cite,
.author-info_name,
.carbonick_module_time_line_vertical .time_line-title,
.isotope-filter a .number_filter,
.author-widget_text,
body .comment-form-cookies-consent > label,
.widget_product_categories .post_count, 
.widget_meta .post_count, 
.widget_archive .post_count,
ul.wp-block-archives.wp-block-archives-list li .post_count,
.widget_categories ul li .post_count, 
.widget_product_categories ul li .post_count,
.widget_meta ul li .post_count, 
.widget_archive ul li .post_count,
.wgl-accordion .wgl-accordion_panel .wgl-accordion_content,
.elementor-widget-wgl-pricing-table .pricing_header .pricing_desc,
.elementor-widget-wgl-pricing-table .wgl-pricing_plan .pricing_period,
.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text,
.wgl-portfolio-single_wrapper .wgl-portfolio-item_cats,
.select2-container{
	font-family: $content_font_family;
}
.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text {
	font-weight: $content_font_weight;
}
.wgl-tabs .wgl-tabs_content-wrap .wgl-tabs_content {
	font-family: $content_font_family;
	font-weight: $content_font_weight;
}

::placeholder,
select,
body .footer .select__field:before,
.widget_rss ul li .rssSummary,
input:not([type='checkbox']):not([type='submit']),
select,
textarea,
.search-field,
.header_search.search_standard .header_search-field .search-field,
.search-no-results .page_404_wrapper .search-form .search-field,
.post_meta-categories span, .post_meta-categories span:after,
.vc_wp_custommenu .menu .menu-item.current-menu-item > a,
.carbonick_module_testimonials .testimonials_quote,
.recent-posts-widget .meta-wrapper a:hover,
.vc_row .vc_toggle .vc_toggle_icon,
.isotope-filter a,
.wgl_module_team .team-department,
.post_meta-wrap,
.blog-style-hero .blog-post.format-standard .blog-post_text,
.blog-style-hero .blog-post.format-link .blog-post_text,
.blog-style-hero .blog-post.format-audio .blog-post_text,
.blog-style-hero .blog-post.format-quote .blog-post_text,
.wgl-pricing_plan .pricing_price_wrap .pricing_desc,
.author-widget_social a{
	color: $content_color;
}

.single_meta .single_info-share_social-wpapper > span.share_title,
.single_info-share_social-wpapper > span {
	font-family: $content_font_family;		
	color: $content_color;
}

.carbonick_module_title .external_link .button-read-more {
	line-height: $content_line_height;
}

/* ==================== ##End Content Features ==================== */

/* ==================== ##Heading Features ==================== */

h1,h2,h3,h4,h5,h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.blog-post_cats,
input[type='submit'], button,
.blog-posts .blog-post_title,
.column1 .item_title a,
blockquote cite,
#comments .comment-reply-link,
.carbonick_twitter .twitt_title,
.tagcloud-wrapper .title_tags,
.strip_template .strip-item a span,
.single_team_page .team-single_speaches-info .speech-info_desc span,
.shortcode_tab_item_title,
.wgl-timeline-vertical .tlv__date,
.index_number,
.primary-nav.footer-menu .menu-item a,
.post_meta-categories span,
.carbonick_module_message_box .message_content .message_text,
.carbonick_module_message_box.type_info .message_icon:before,
.carbonick_module_message_box.type_warning .message_icon:before{
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}

.theme-header-font,
input[type="submit"], button,
.wpcf7 .wpcf7-submit,
legend,
.widget,
.widget .widget-title,
.widget_rss ul li .rss-date,
.widget_categories a,
.widget_product_categories a,
.widget_meta a,
.widget_archive a,
.banner_404,
.wgl-header-list-info,
.page_404_wrapper .carbonick_404__link,
.wgl-social-share_pages.hovered_style .share_social-title,
.blog-post_text-bg,
.author-info_content .author-info_name,
.button-read-more,
.countdown-section .countdown-amount,
.countdown-section .countdown-period,
.comments-title .number-comments,
.page-header_breadcrumbs,
.wgl-views,
.sl-count,
#comments .commentlist .comment_info .meta-wrapper *,
.meta-wrapper,
.blog-post.format-quote .blog-post_quote-author,
.blog-post_info-wrap > .meta-wrapper *,
.blog-style-standard .blog-post .blog-post_meta-wrap .meta-info-wrap,
.wgl-button, .elementor-button,
.wgl-pricing_plan .pricing_currency,
.wgl-pricing_plan .pricing_price .price_decimal,
.wgl-pricing_plan .pricing_plan_wrap .pricing_price_wrap,
.wgl-working-hours .working-item .working-item_day,
.wgl-working-hours .working-item .working-item_hours,
.carbonick_module_progress_bar .progress_label,
.carbonick_module_double_headings,
.carbonick_module_infobox .infobox_icon_container .infobox_icon_number,
.carbonick_module_testimonials .testimonials_item:before,
.carbonick_module_testimonials .testimonials_status,
.carbonick_module_counter .counter_title,
.carbonick_module_videobox .title,
.carbonick_module_progress_bar .progress_value,
.carbonick_module_progress_bar .progress_units,
.carbonick_module_counter .counter_value_wrapper,
.carbonick_module_counter .counter_value_placeholder,
.carbonick_module_ico_progress .progress_value_completed,
.carbonick_module_ico_progress .progress_value_min, .carbonick_module_ico_progress .progress_value_max,
.carbonick_module_ico_progress .progress_point,
.mashsb-count .counts,
.mashsb-box .mashsb-buttons a .text,
.prev-link, .next-link,
.vc_row .vc_tta.vc_general.vc_tta-style-accordion_bordered .vc_tta-panel-title>a span,
ul.recent-posts-widget li > .recent-posts-content .post_title,
.heading_subtitle,
.info_prev-link_wrapper a, .info_next-link_wrapper a,
.single_team_page .team-single_speaches-info .speech-info_day,
.wgl_module_team .team-department,
.single-team .single_team_page .team-info_item.team-department span,
.portfolio__custom-meta h5,
.portfolio__item-meta .post_cats,
.wgl-portfolio-item_cats,
.portfolio__custom-meta:not(.meta_shares) span,
.isotope-filter a, 
.carousel-filter a,
body .comment-respond .comment-reply-title,
.page-header_title,
.carbonick_module_services_2 .services_link,
.carbonick_module_testimonials.type_inline_top .testimonials_meta_wrap:after,
.carbonick_module_testimonials .testimonials_position,
[class|=dropcap], .elementor-drop-cap,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-categories.wp-block-categories-list li a,
ul.wp-block-categories.wp-block-categories-list li .post_count,
ul.wp-block-latest-posts li a,
.elementor-counter,
.wgl-progress_bar .progress_label,
.wgl-progress_bar .progress_value_wrap,
.wgl-pricing_plan .pricing_highlighter,
.load_more_item, .load_more_wrapper .load_more_item,
.carbonick-post-navigation .meta-wrapper span,
ul.recent-posts-widget .meta-wrapper span,
.elementor-widget .wgl-infobox .wgl-infobox_subtitle,
#comments .commentlist .comment_author_says,
.wgl-portfolio-single_item .single_info-share_social-wpapper .share_title{
	font-family: $header_font_family;
}

blockquote,
.banner_404,
.author-info_public,
.single_info-share_social-wpapper .share_title,
.wgl-portfolio-single_item .tagcloud .tagcloud_desc,
.wgl_timetabs .timetabs_data .timetabs_item .item_time,
.wgl_timetabs .timetabs_data .timetabs_item .content-wrapper .item_title,
.wgl_timetabs .timetabs_headings .wgl_tab,
.tagcloud a,
.wp-block-tag-cloud a{
	font-family: $header_font_family;
	color: $header_font_color;
}

.tagcloud a,
.wp-block-tag-cloud a,
.wgl-pricing_plan .pricing_header .pricing_title__shadow,
.blog-post_media .bg-read-more,
.wgl-infobox .wgl-infobox_wrapper .wgl-infobox_subtitle,
.wgl-striped-services .service-item_content .service-item_bg_text,
.wgl-infobox_bg_title,
.wgl-background-text,
.wgl-counter_value-placeholder,
.wgl-button.elementor-button,
.wgl-double_heading .dbl-subtitle,
.wgl-testimonials .wgl-testimonials_position,
.elementor-section.wgl-add-background-text:before,
.wgl-infobox .wgl-number,
.wgl-steps-vertical .steps-image .number,
.post_meta-wrap .blog-post_views-wrap{
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}

.theme-header-color,
body .footer select option,
input[type='submit'], 
form.post-password-form input[type='submit']:hover,
button, 
h1,h2,h3,h4,h5,h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h3#reply-title a,
.calendar_wrap tbody,
.wp-block-calendar tbody,
.comment_author_says,
.comment_author_says a,
#comments .comment-reply-link:hover,
.coming-soon_form .wpcf7 .wpcf7-submit:hover,
.share_post-container .share_post,
.tagcloud-wrapper .title_tags,
.carbonick_module_double_headings .heading_title,
.carbonick_module_testimonials .testimonials_item .testimonials_content_wrap .testimonials_name,
.wgl-pricing_plan .pricing_plan_wrap .pricing_content > ul > li > b,
.carbonick_module_social .soc_icon,
.carbonick_module_counter .counter_value_wrapper,
.carbonick_module_message_box .message_close_button:hover,
.prev-link-info_wrapper, .next-link-info_wrapper,
.item_title a,
.load_more_wrapper .load_more_item,
.carbonick_module_counter .counter_value_wrapper,
.wgl_module_title.item_title .carousel_arrows a span:after,
.wgl_module_team.info_under_image .team-department,
.single-team .single_team_page .team__icons .team-icon,
.wgl-portfolio-item_wrapper .portfolio_link,
.single_info-share_social-wpapper .share_link span,
.carbonick_module_services_2 .services_link,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-archives.wp-block-archives-list li:before,
ul.wp-block-categories.wp-block-categories-list li a,
ul.wp-block-latest-posts li a,
.wgl-pricing_plan .pricing_plan_wrap .pricing_price_wrap,
.blog-post_content .page-link a,
.blog-style-hero .blog-post.format-standard .blog-post_title a,
.blog-style-hero .blog-post.format-link .blog-post_title a,
.blog-style-hero .blog-post.format-audio .blog-post_title a,
.blog-style-hero .blog-post.format-quote .blog-post_title a,
.wgl-button.elementor-button,
.author-info_social-wrapper .author-info_social-link.fa,
.page_404_wrapper .search-form:after,
.page_404_wrapper .carbonick_404__link,
.page_404_wrapper .carbonick_404__button .carbonick_404__link,
.wgl-portfolio-single_wrapper .portfolio__item-meta > span:after,
.wgl-header-row-section_top a:hover,
.header_search.search_standard .header_search-field .search-form:after,
.wgl_cpt_section .carousel_arrows span[class*="slick_arrow"] span:after,
.blog-style-hero .blog-post-hero-content_back .blog-post_title ,
.blog-style-hero .format-standard-image .blog-post-hero-content_back .blog-post_title a,
.woocommerce .woocommerce-pagination ul.page-numbers li a,
.woocommerce .woocommerce-pagination ul.page-numbers li span,
.woocommerce-page .woocommerce-pagination ul.page-numbers li a,
.woocommerce-page .woocommerce-pagination ul.page-numbers li span,
.woocommerce .woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce-page .woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce .woocommerce-pagination ul.page-numbers li a:focus,
.woocommerce-page .woocommerce-pagination ul.page-numbers li a:focus,
.woocommerce .woocommerce-pagination ul.page-numbers li a.current,
.woocommerce .woocommerce-pagination ul.page-numbers li span.current,
.woocommerce-page .woocommerce-pagination ul.page-numbers li a.current,
.woocommerce-page .woocommerce-pagination ul.page-numbers li span.current,
.wgl-pagination .page-numbers,
.page-link .post-page-numbers,
.dropcap-bg.secondary{
	color: $header_font_color;
}

/* ↓ widgets ↓ */
.carbonick_author-widget .author-widget_social a,
.carbonick_banner-widget .banner-widget_link:hover ~ .banner-widget_button .button-read-more,
.widget ul li,
.widget ul li a,
ul.recent-posts-widget .post_title a,
.widget .widget-title .widget-title_wrapper,
.widget_search .search-form:after, 
.widget_search .woocommerce-product-search:after, 
.widget_product_search .search-form:after, 
.widget_product_search .woocommerce-product-search:after,
.widget_product_search .woocommerce-product-search:after,
.widget .banner-widget_button {
	color: $header_font_color;
}

.widget_search .search-form:hover:after, 
.widget_search .woocommerce-product-search:hover:after, 
.widget_product_search .search-form:hover:after, 
.widget_product_search .woocommerce-product-search:hover:after,
body .widget_search .search-form .search__icon, 
body .widget_search .woocommerce-product-search .search__icon, 
body .widget_product_search .search-form .search__icon, 
body .widget_product_search .woocommerce-product-search .search__icon,
/* ↑ widgets ↑ */
.header_search .header_search-field .search__icon,
.prev-link_wrapper .info_wrapper a:hover .image_prev.no_image:after, 
.next-link_wrapper .info_wrapper a:hover .image_next.no_image:after,
.post_meta-categories a:hover,
.post_meta-categories span a:hover,
.wgl_module_team .team-item_info:after,
.wgl-theme-header .wgl-button.elementor-button,
.carbonick_module_title .carousel_arrows a span,
.page_404_wrapper .search-form:hover:after,
.page_404_wrapper .search__icon,
.page_404_wrapper-container .page_404_wrapper__inner:after,
.wgl-accordion-services .wgl-services_icon-wrap:before {
	background: $header_font_color;
}


.widget_product_search .woocommerce-product-search button,
.slick-dots li button,
.carbonick_module_infobox.infobox_alignment_left.title_divider .infobox_title:before,
.carbonick_module_infobox.infobox_alignment_right.title_divider .infobox_title:before {
	background-color: $header_font_color;
}

.carbonick_module_title .carousel_arrows a span:before,
.wgl-pricing_plan .pricing_highlighter,
.wgl-carousel.pagination_circle_border .slick-dots li.slick-active button,
.wgl-carousel.pagination_square_border .slick-dots li.slick-active button {
	border-color: $header_font_color;
}


/* ==================== ##End Heading Features ==================== */

/* ==================== ##Additional Styles ==================== */

#scroll_up {
	background-color: $scroll_up_bg_color;
	color: $scroll_up_arrow_color;
}

/* ↓ menu fonts ↓ */
.primary-nav>div>ul,
.primary-nav>ul,
.sitepress_container > .wpml-ls li,
.primary-nav ul li.mega-menu-links > ul > li {
	font-family: $menu_font_family;
	font-weight: $menu_font_weight;
	line-height: $menu_font_line_height;
	font-size: $menu_font_size;
}

.primary-nav > ul > li > a > span + i.menu-item__plus,
.primary-nav ul li ul:not(.mega-menu) li > a > span + i.menu-item__plus{
	color: $header_font_color;
}
/* ↓ sub menu styles ↓ */
.primary-nav ul li ul,
.wpml-ls,
.sitepress_container > .wpml-ls ul ul li,
.primary-nav ul li div.mega-menu-container {
	font-family: $sub_menu_font_family;
	font-weight: $sub_menu_font_weight;
	line-height: $sub_menu_font_line_height;
	font-size: $sub_menu_font_size;	
}
.wgl-theme-header .header_search-field,
.primary-nav ul li ul,
.primary-nav ul li div.mega-menu-container,
.wgl-theme-header .woo_mini_cart,
.wpml-ls-legacy-dropdown .wpml-ls-current-language .wpml-ls-sub-menu {
	background-color: $sub_menu_bg;
	color: $sub_menu_color;
}
.mobile_nav_wrapper,
.wgl-menu_outer,
.wgl-menu_outer .mobile-hamburger-close,
.mobile_nav_wrapper .primary-nav ul li ul.sub-menu,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul {
	background-color: $mobile_sub_menu_bg;
	color: $mobile_sub_menu_color;		
}
.mobile_nav_wrapper .wgl-menu_overlay {
	background-color: $mobile_sub_menu_overlay;
}
/* ↑ sub menu styles ↑ */

#side-panel .side-panel_sidebar .widget .widget-title .widget-title_wrapper {
	color: $side_panel_title;
}

/* ==================== ##End Additional Styles ==================== */
